<% if user_signed_in? %>
	<div class="messenger">
	<%= simple_form_for @message do |f| %>
		<%= f.input :content, label: false, placeholder: "Write your message...", input_html: { class: "myInput" } %>
		<%= f.button :submit, "Send" %>
	<% end %>
	</div>
<% end %>
