<% if @messages.nil? %>
	<% if !@tagStrings.blank? %>
	<p>No messages with tag: <%= @tagStrings %></p>
	<% end %>
<% elsif !@messages.empty? %>
	<%= javascript_tag do %>
	var last_id = <%=j @messages.first.id.to_s %>;
	<% end %>
	<% @messages.each do |message| %>
	<% if request.original_url.include? 'refresh' %>
	<div class="message col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 newMessage" data-message-id=<%= message.id %>>
	<% else %>
	<div class="message col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" data-message-id=<%= message.id %>>	
	<% end %>
		<div class="massageAutor col-xs-8 col-md-10"><%= message.user.email %></div>
		<div class="posted col-xs-4 col-md-2"><%= time_ago_in_words(message.created_at) %></div>
		<div class="messageContent col-xs-12 col-md-12">
		<%= message.content %>
		</div>
		<% if user_signed_in? %>
		<div class="actions col-xs-12 col-md-12">
			
			<% if current_user.id == message.user_id %>
			<%= link_to message_path(message.id), method: :delete do %>
			<span class="glyphicon glyphicon-remove"></span>
			<% end %>
			<% elsif current_user.following.where(follower_id: current_user.id, user_id: message.user.id).empty? %>
			<%= link_to "Follow", follow_path(user: message.user) %>
			<% else %>
			<%= link_to "Unfullow", unfollow_path(user: message.user), method: :delete %>
			<% end %>
		</div>
		<% end %>
	</div>
	<% end %>
<% end %>