<%= render 'form' %>
<h1><%= @messages.count %> search result for tags: <%= params[:tags][:tags] %></h1>
<%= javascript_tag do %>
var tags = <%= raw params[:tags][:tags].to_json %>;
<% end %>
<div class="messages row">
<%= render 'messagesContainer' %>
</div>
