<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-inputs col-md-4">
    <%= f.input :email, label: false, placeholder: 'login@example.com', required: false, autofocus: true, input_html: { class: "myInput" } %>
    <%= f.input :password, label: false, placeholder: 'Password', required: false, input_html: { class: "myInput" } %>
  </div>

  <div class="form-actions col-md-12">
    <%= f.button :submit, "Log in" %>
  </div>

<% end %>
