<div class="row">
<div class="col-md-12">
	<div class="col-md-offset-1 col-md-8 title"><h1>Hermes - the godlike messanger!</h2></div>
	<div class="col-md-6">
	<div class="feature"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Free registration. Always.</div><div class="feature"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Sign Up and share messeges with the community.</div>
	<div class="feature"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Tag your messages and easily search for the topics of interest.</div>
	<div class="feature"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Follow and be followed by other users.</div>
	</div>
</div>

<%= render 'devise/shared/form' %>
</div>
