/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 

body {
	font-family: 'Lora', serfi;
}

.container {
	margin-top: 50px
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
}

.navbar { 
	font-family: 'Ubuntu', sans-serif;
}

.btn {
	font-family: 'Ubuntu', sans-serif;
}

.messages{
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.5);
	padding-top: 20px;
	margin-top: 20px
}

.message{
	margin-bottom: 20px;
	border-radius: 20px;
	background: rgb(255, 255, 255);
	padding-top: 10px;
	padding-bottom: 10px
}

.newMessage{
	background: 
		linear-gradient(
			rgba(119, 190, 119, 0.4), 
			rgba(119, 190, 119, 0.4)
	    ),
	    linear-gradient(
	    	rgba(255, 255, 255, 1), 
	    	rgba(255, 255, 255, 1)
    	);
}

.messageContent{
	margin-top:5px;
	margin-bottom: 5px;
	font-size: 20px;
}

.posted, .massageAutor{
	font-family: 'Ubuntu', sans-serif;
}

.myInput {
	font-size: 20px !important;
}
.messenger {
	margin-top:20px
}