// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-inputs, .form-actions{
	margin-left: 50px
}
.form-inputs {
	margin-top: 50px
}

body { 
	background-image: url(<%= asset_path 'people.jpg' %>);
	background-position: center 50px;
	background-attachment: fixed
}

.title { 
	margin-top: 30px;
	margin-bottom: 50px
}

.feature {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	margin-bottom: 20px
}

.feature>span{
	margin-right: 20px
}