<!DOCTYPE html>
<html>
<head>
  <title>Hermes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<% if user_signed_in? %>
				<%= link_to "Hermes", messages_path, class: 'navbar-brand' %>
				<% else %>
				<%= link_to "Hermes", root_path, class: 'navbar-brand' %>
				<% end %>
			</div>
			<ul class="nav navbar-nav">
				<% if user_signed_in? %>
				<li><%= link_to "Followed", followed_path %></li>
				<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
				<li><%= link_to "Log In", user_session_path %> </li>
				<li><%= link_to "Sign Up", new_user_registration_path %> </li>
				<% end %>
			</ul>
			<% if user_signed_in? %>
			<%= simple_form_for :tags, url: tags_path, html: { class: "navbar-form navbar-right"} do |f| %>
  			<div class="form-group">
  				<%= f.input :tags, as: :string, label: false, class: "form-control" %>
  			</div>
  			<%= f.submit "Search", class: "btn btn-default" %>
			<% end %>
			<% end %>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
